{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Here's My Story.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         Hello! I'm Kartik, a curious explorer in both technology and life.
          I'm currently enriching my mind at Cardiff University, where I study
          Advanced Computer Science.
          When I'm not engaged in my academic pursuits,
          my world spins with a diverse array of passions.
        </p>
        <p>
         I'm Kartik, currently learning to play the piano and
          reveling in the blend of joy and challenge it brings.
          My passion extends to the thrilling arenas of MMA, UFC,
          and WWE, where strategy and strength collide. Travel is
          my gateway to new experiences, each destination teaching unique lessons. Between trips,
          I dive into self-help books, gathering wisdom that fuels my personal growth and understanding.
        </p>
        <p>
         This blog is where I share snippets of my life.  Join me as we step off the beaten path,
          challenge the everyday, and embrace the journey of discovery together!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
